@{
    ViewData["Title"] = "About";
}

<div class="d-flex mt-2 mb-2">
    <h2>@ViewData["Title"]</h2>
</div>

<div class="container">
    <div class="row">
        <h4></h4>
    </div>
    <div class="row">
        <div class="col">
            <p>This sample program was written by Mike. His WordPress blog is at
                <a href="http://begincodingnow.com" target="_blank">begincodingnow.com</a></p>
            <hr />
            <h5>ASP.NET Core 2.0 Project Name: Sources5</h5>
            <p>Project created on Sun. Sept. 8, 2019.</p>
            <p>
                Application Users have another table linked on a one-to-one relationship, called UserInfo.
                Aother table, Projects, is linked to UserInfo on a one-to-many relationship.
            </p>
            <h5>Mike's Documents Followed</h5>
            <ul>
                <li>DevPathIFSQLServer.docx</li>
                <li>Core22.docx (this is a Core 2.0 project)</li>
                <li>LinkingUsersToUserInfo.docx</li>
            </ul>
            <h5>Registered Users and passwords - a partial list:</h5>
            <ul>
                <li>guest@example.com Secret123!</li>
                <li>guest2@example.com Secret123! ...</li>
            </ul>
        </div>

    </div>
</div>


