@{
    ViewData["Title"] = "Contact";
}
<div class="d-flex mt-2 mb-2">
    <h2>@ViewData["Title"]</h2> 
</div>

@*
    <h3>@ViewData["Message"]</h3>
*@
<a href="http://begincodingnow.com" target="_blank">begincodingnow.com</a>
