@{
    ViewData["Title"] = "Home Page";
}
<div class="d-flex mt-2 mb-2">
    <h2>Sample Project:</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h6>Sources5 is an ASP.NET Core 2.0 MVC with Identity Framework sample project for illustration purposes only, that is provided by <a href="http://begincodingnow.com" target="_blank">begincodingnow.com</a>.</h6>
            <p>begincodingnow.com is Mike's blog that covers several Information technology topics, including ASP.NET Core 2.0.</p>
            <h5>Purpose</h5>
            <p>
                The purpose of this web application is to <strong>demonstrate</strong> how to create a very simple To-Do List application using Microsoft's ASP.NET Core 2.0 MVC with Identity Framework's Individual User Accounts.
                This web app uses a back-end database to store data. Registered uses who successfully log in can create a simple profile of personal information,
                create new projects and add tasks to those projects.
            </p>
            <h5>Technologies (a partial list)</h5>
            <ul>
                <li>Visual Studio Community</li>
                <li>Microsoft ASP.NET Core 2.0</li>
                <li>Model View Controller (MVC)</li>
                <li>Identity Framework - Individual User Accounts</li>
                <li>Entity Framework</li>
                <li>SQL Server database</li>
                <li>Bootstrap 4.0</li>
                <li>DataTables</li>
            </ul>
        </div>
        <div class="col">
            <h5>How to use this sample web application:</h5>
            <ol>
                <li>Register with an email and password (click the Register link)</li>
                <li>Create a Profile (click the Profile link)</li>
                <li>Add one or more Projects (click the Projects link, then the Create New Project button)</li>
                <li>Add one or more Tasks in your project (click the Task button beside the project)</li>
            </ol>
        </div>
    </div>
</div>




